version: '3.8'

services:
  postgres:
    image: postgres:17
    container_name: postgres-dev
    environment:
      POSTGRES_USER: api-financeira
      POSTGRES_PASSWORD: dev1234
      POSTGRES_DB: api_gestao_financeira
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin-dev
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin123
    ports:
      - "5050:80"
    restart: unless-stopped

volumes:
  postgres_data: